/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "Josefin Sans", sans-serif;
	color: #ffffff;
}

h1 {
	font-weight: bold;
	font-size: 2em;
    text-align: center;
}

#signUp {
    background-color: #404040;
}

.jumbotron {
    background-color: #404040;
}

.modal-header {
    border: none;
}

.row {
    padding: 1%;
}
.col-md-4 {
    padding: 1%;
}
#outer {
    width: 80vmin;
    height: 80vmin;
    color: darkgrey;
    padding: 1%;
}

img {
    width: 100%;
}

.circle {
    background-color: red;
    width: 50;
    height: 50;
    border-radius: 50%;
    padding: 50%;
    text-align: center;
}

#A {
    background-color: white;
}

#B {
    background-color: black;
}

#C {
    background-color: white;
}

#D {
    background-color: black;
}

#E {
    background-color: blue;
}

#F {
    background-color: white;
}

#G {
    background-color: black;
}

#H {
    background-color: white;
}

#I {
    background-color: black;
}

#game {
    text-align: center;
    /*background-color: #404040;*/
    /*color: red;*/
}

